@charset "utf-8";

body, html {width:100%; }

#icon_circle {
    background-color: #999;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;

}

#icon_circle2 {
    background-color: rgb(100,100,100);
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
}

.wrapper {
    width: 100%;
    position: fixed;
    z-index: 1999;
    background: inherit;
    height: auto;
    z-index:1999;
}
.bottom_wrapper {
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

/* header */
.header {
    width: 100%;
    min-width:320px;
    position: fixed;
    height: auto;
    background: rgba(0,0,0,0.2);
    text-align: center;
    z-index: 2000;
}

.header .header_logo { display: inline-block;padding:13px; z-index:2001;}
.header .header_menu{ display: none;}
.header .header_menu ol{text-align: center;}
.header .header_menu ol li{display: inline-block; color:rgb(235,235,235); font-size: 23px; text-transform: uppercase; padding: 0px 10px 10px 10px;}


/* content */
.cont {
    width: 100%;
    height: 93%;
    /*
    background: rgb(127, 207, 147);
    */
    /*
    background: rgb(221, 148, 203);
    */
    background:  #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #4286f4, );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #4286f4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    vertical-align: center;
    overflow: hidden;
}
.cont .cont_nav{height:auto;width:100%;text-align:center;}
.cont .cont_nav .header_logo{display: block;padding:13px;}
.cont .cont_base{ width: 100%; display: table; table-layout: fixed; overflow: hidden;}
.cont .cont_base .member{display:table-cell; vertical-align: middle; border:3px solid #fff; overflow:hidden; background:#000; z-index:100;}
.cont .cont_base .member .snip1131 {
    position: relative;
    overflow:hidden;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.cont .cont_base .member .snip1132 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
    overflow: hidden;
}

.cont .cont_base .member .snip1132 a{}

.cont .cont_base .member .snip1132 img{
    overflow: hidden;
}

.cont .cont_base #RM .snip1132 img.RM {
    position: relative;
    right:200px;
    bottom:100px;
    opacity: 0.5;
    transform: scale(0.8);
}


.cont .cont_base #RM .snip1132:hover img.RM{
  opacity: 1;
  -webkit-transform: scale(1.15);
  transform: scale(0.9);
}

.cont .cont_base #SG .snip1132 img.SG {
    position: relative;
    right:250px;
    bottom:120px;
    opacity: 0.5;
    transform: scale(0.8);
}


.cont .cont_base #SG .snip1132:hover img.SG{
  opacity: 1;
  -webkit-transform: scale(1.15);
  transform: scale(0.85);
}

.cont .cont_base #JH .snip1132 img.JH {
    position: relative;
    right:220px;
    bottom:120px;
    opacity: 0.5;
    transform: scale(0.8);
}

.cont .cont_base #JH .snip1132:hover img.JH{
  opacity: 1;
  -webkit-transform: scale(1.15);
  transform: scale(0.85);
}

.cont .cont_base #Jin .snip1132 img.Jin {
    position: relative;
    right:165px;
    bottom:100px;
    opacity: 0.5;
    transform: scale(0.8);
}

.cont .cont_base #Jin .snip1132:hover img.Jin{
  opacity: 1;
  -webkit-transform: scale(1.15);
  transform: scale(0.85);
}

.cont .cont_base #JK .snip1132 img.JK {
    position: relative;
    right:200px;
    bottom:100px;
    opacity: 0.5;
    transform: scale(0.8);
}

.cont .cont_base #JK .snip1132:hover img.JK{
  opacity: 1;
  -webkit-transform: scale(1.15);
  transform: scale(0.85);
}

.cont .cont_base #V .snip1132 img.V {
    position: relative;
    right:230px;
    bottom:95px;
    opacity: 0.5;
    transform: scale(0.8);
}

.cont .cont_base #V .snip1132:hover img.V{
  opacity: 1;
  -webkit-transform: scale(1.15);
  transform: scale(0.85);
}

.cont .cont_base #JM .snip1132 img.JM {
    position: relative;
    right:150px;
    bottom:128px;
    opacity: 0.5;
    transform: scale(0.8);
}

.cont .cont_base #JM .snip1132:hover img.JM{
  opacity: 1;
  -webkit-transform: scale(1.15);
  transform: scale(0.85);
}

.cont .profile{}



   

/* footer */

.footer{position: relative; overflow: hidden; display: table; clear: both; background: #272727; width: 100%;  z-index:1000; }
#profile{height: 7%;}
#reguler{height:48px;}
.footer > div {display: table-cell; vertical-align: middle;}
.footer .sns{line-height: 10px; z-index: 1002;}
.footer .sns .clearfy{margin-left:20px;}
.footer .sns li{float: left; margin-right:10px; width:32px; height:32px;overflow:hidden; transform: scale(0.8);}
.footer .sns .twit{background: url(/BTS/icon/icon.png);}
.footer .sns .twit{background: url(icon/icon.png);}
.footer .sns .facebook{background:url(icon/facebook.png)}
.footer .sns .instagram{background:url(icon/instagram.png);}
.footer .sns .youtube{background: url(icon/youtube.png);}
.footer .sns li a{z-index: 1003; display: block; background-color:rgba(0,0,0,0.2); width:32px; height:32px;}
.footer .sns li a:hover{background-color: #fff; }
.footer .sns li span{color:#fff; font-size:1px;}
.footer .copyright{ font-size: 10px; font-family: 'Camber-M';
    color:#6b6b6b;text-align: right; text-transform: uppercase;}
.footer .copyright p span{white-space: nowrap;}
#last{margin-right:20px;}